{% extends "base_home.html" %}
{% block content %}
	<ul class="homebuttons">
			
		{% if current_user.is_authenticated %}
			<p>
				Welcome, {{ current_user.username }}!
			</p>
			<li class="homebuttons">
				<a href="{{ url_for('logout_page') }}">
					<button class="spotifybutton" type="button">Logout</button>
				</a>
			</li>

			{% if not current_user.spotify_key %} <!--Will only display if user hasn't added Spotify-->
				<li class="homebuttons"> <!--This would be even better Kian if you can add the spotify emblem in the button-->
					<a href="{{ url_for('spotify_add') }}">
						<button class="spotifybutton" type="button">Add Spotify</button>
					</a> 
				</li>
			{% endif %}
		{% else %} <!--Will only display if not logged in-->
			<li class="homebuttons">
				<a href="{{ url_for('login_page') }}">
					<button class="spotifybutton" type="button">Login</button>
				</a>
			</li>
			<li class="homebuttons">
				<a href="{{ url_for('register_page') }}">
					<button class="spotifybutton" type="button">Register</button>
				</a>
			</li>
		{% endif %}
		
		<form method="POST", class="homebuttons">
			{{ session_form.hidden_tag() }}
			<li>
				<span>{{ session_form.session_field(class="sessionID", placeholder="Enter 5 digit session ID") }}</span>
				<span>{{ session_form.submit(class="joinbutton") }}</span>
			</li>
		</form>

		<li class="homebuttons">
			<a href="{{ url_for('create_session') }}"><button class="createbutton">Create session</button></a>
		</li>

		{% if current_user.username == "admin" %} <!-- Admin test buttons-->
		<li class="homebuttons">
			<a href="{{ url_for('error_page_test') }}">
				<button class="createbutton" type="button">404 test</button>
			</a>
		</li>
		<li class="homebuttons">
			<a href="{{ url_for('purge_database_test') }}">
				<button class="createbutton" type="button">Clear database</button>
			</a>
		</li>
		<li class="homebuttons">
			<a href="{{ url_for('test_route') }}">
				<button class="createbutton" type="button">Test page</button>
			</a>
		</li>


		{% endif %} <!-- End admin test buttons-->

		{% block script %}
		{% endblock %}
	</ul>
{% endblock %}