{%extends "base_home.html" %}
{% block content %}

<div class="registerpage">
    <form method="POST" class="form-register"> <!--POST requests affect the database-->
    <!-- KIAN NOTE: you can change the styling of these just like normal HTML fields-->
    {{ form.hidden_tag()}}
    {{ form.username.label() }}
    <br><!-- Could just put tag with username in it here-->
    {{ form.username(class="form-control", placeholder="") }}
    <br>
    {{ form.password_first.label()}}
    <br>
    {{ form.password_first(class="form-control", placeholder="")}}
    <br>
    {{ form.password_confirm.label()}}
    <br>
    {{ form.password_confirm(class="form-control", placeholder="")}}
    <br>
    {{form.submit(class="confirmbutton")}}
    

    <div class="registerpage"> <!--Kian note: CSS this please-->
        <h5>Already have an account?</h5>
        <li class="homebuttons">
            <a href="{{ url_for('login_page') }}">
                <button class="confirmbutton" type="button">Login</button>
            </a>
       </li>
    </div>
    </form>
</div>

{% endblock %}

{% block script %}
{% endblock %}